<div class="post-it d-flex flex-column h-100">
  <div class="post-it-title d-flex flex-row justify-content-between">
    <input class="input-floating" [(ngModel)]="note.title">
    <button class="btn btn-transparent pt-0" (click)="save()">
      <i class="fa-solid fa-close"></i>
    </button>
  </div>
  <div class="post-it-content flex-grow-1 d-flex flex-column">
    <textarea id="content" [autofocus]="true" class="note-textarea flex-grow-1 w-100" [(ngModel)]="note.content"></textarea>
    <div class="d-flex flex-row align-items-end justify-content-between">
      <small class="post-it-date small text-muted">Modified {{ note.modified | date: 'short' }}</small>
      <button class="btn btn-primary mt-2 align-self-end" (click)="save()">Save</button>
    </div>
  </div>
</div>
