.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
  gap: 12px; /* Spacing between grid items */
}

.masonry-grid-item {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


.post-it {
  width:250px;
  height:240px;
  position:relative;
  background: #ffa;
  overflow:hidden;
  margin:30px auto;
  border-radius: 5px;
  box-shadow: 0 5px 6px 5px rgba(0,0,0,0.2);
  line-height:1.7em;
  font-size:19px;
  color: #08072b;
  transition: all 0.3s;
}

.post-it:hover {
  box-shadow: 0 7px 8px 7px rgba(0,0,0,0.25);
}

.post-it-title {
  font-size: 1em;
  height: 2rem;
  padding-top: 0.25rem;
  padding-left: 0.5rem;

  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.15);
}

.post-it-content {
  padding: 0.25rem 0.5rem 0.5rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.post-it-date {
  padding: 0.25rem;
  height: 50%;
  font-size: 0.85rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
