<div class="container my-4">
  <h2 class="mb-4">Notes</h2>
  <div class="masonry-grid">
    <div class="masonry-grid-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title
          ">New note</h5>

        </div>
      </div>

    </div>
    <div class="masonry-grid-item" *ngFor="let note of notes">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
